[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mysql-connector-python = "*"
python-dotenv = "*"
flask-bcrypt = "*"
black = "*"
lock = "*"

[dev-packages]
pylint = "*"
flake8 = "*"

[requires]
python_version = "3.9.6"

[pipenv]
allow_prereleases = true
