{% extends "base.html" %} {% block title %}Books Create{% endblock %} {% block
content %}
<section>
  <h1 class="text-center font-bold text-2xl mb-5">Create Book</h1>
  <div class="">
    <form action="" method="post">
      <div class="block my-2">
        <label for="name" class="w-full">Title</label>
        <input
          type="text"
          name="title"
          class="w-full border border-blue-500 rounded-md py-1 px-2 my-2"
        />
      </div>
      <div class="block my-2">
        <label for="authors" class="w-full">Author</label>
        <div id="authorsWrapper">
          <div class="flex w-full items-center">
            <select
              name="authors[]"
              class="w-full border border-blue-500 rounded-md py-1 px-2 my-2"
            >
              <option value=""></option>
              {% for author in authors %}
              <option value="{{ author.id }}">{{ author.name }}</option>
              {% endfor %}
            </select>
            <a href="#" class="px-2 text-green-400" onclick="addAuthorField()">
              +
            </a>
          </div>
        </div>
      </div>
      <div class="block my-2">
        <label for="published" class="w-full">Published</label>
        <input
          type="date"
          name="published"
          class="w-full border border-blue-500 rounded-md py-1 px-2 my-2"
        />
      </div>
      <div class="block my-2">
        <label for="quantity" class="w-full">Quantity</label>
        <input
          type="number"
          name="quantity"
          class="w-full border border-blue-500 rounded-md py-1 px-2 my-2"
        />
      </div>
      <div class="block my-2">
        <label for="image" class="w-full">Image</label>
        <input
          type="file"
          name="image"
          class="w-full border border-blue-500 rounded-md py-1 px-2 my-2"
        />
      </div>
      <button
        type="submit"
        class="w-full bg-blue-500 text-white py-2 rounded-md my-2"
      >
        Save
      </button>
    </form>
  </div>
</section>
<script type="text/javascript">
  const authors = {{ authors|safe }};
  const addAuthorField= () => {
    const authorWrapper = document.getElementById("authorsWrapper");
    const authorCount = authorWrapper.children.length;
    const authorDiv = document.createElement("div");
    authorDiv.id = `author_${authorCount}`;
    authorDiv.classList = "flex w-full items-center";
    const authorAnchor = document.createElement("a");
    authorAnchor.href = "#";
    authorAnchor.classList = "px-2 text-red-400";
    authorAnchor.text = "-";
    authorAnchor.addEventListener("click", () => {
      removeAuthorFields(authorCount);
    })
    const authorSelect = document.createElement("select");
    authorSelect.classList = "w-full border border-blue-500 rounded-md py-1 px-2 my-2";
    authorSelect.name = "authors[]";
    const emptyOption = document.createElement("option");
    authorSelect.appendChild(emptyOption);
    authors.map((author) => {
      authorOption = document.createElement("option");
      authorOption.value = author.id;
      authorOption.text = author.name;
      authorSelect.appendChild(authorOption);
    })
    authorDiv.appendChild(authorSelect);
    authorDiv.appendChild(authorAnchor);
    authorWrapper.appendChild(authorDiv);
  }

  const removeAuthorFields = (id) => {
    const div = document.getElementById(`author_${id}`)
    div.parentNode.removeChild(div);
  }
</script>
{% endblock %}
