{% extends "base.html" %} {% block title %}Books{% endblock %} {% block content
%}
<section>
    <h1 class="text-center font-bold text-2xl mb-5">Data Book</h1>
    {% if g.user and g.user.role == "admin" %}
    <a class="px-4 py-2 bg-blue-500 rounded text-white" href="{{ url_for('books.create') }}">Add new</a>
    {% endif %}
    <table class="mt-5 table-auto w-full border-collapse border border-black">
        <thead>
            <tr>
                <th class="border border-black">#</th>
                <th class="border border-black">Image</th>
                <th class="border border-black">Title</th>
                <th class="border border-black">Author</th>
                <th class="border border-black">Published</th>
                <th class="border border-black">Quantity</th>
                {% if g.user and g.user.role == "admin" %}
                <th class="border border-black">Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody id="list">
            {% if books %}
            {% for book in books %}
            <tr>
                <td class="text-center border border-black">{{ loop.index }}</td>
                <td class="border border-black px-2 text-center">
                    <img class="w-32" src="{{ url_for('books.image_display', filename=book.image_url) }}"
                        alt="{{ book.title }}" />
                </td>
                <td class="border border-black px-2">{{ book.title }}</td>
                <td class="border border-black px-2">
                    {% for author in book.authors %}
                    {{ author.name }}
                    {% if (not loop.last) %}, {% endif %}
                    {% endfor %}
                </td>
                <td class="border border-black px-2">{{ book.published }}</td>
                <td class="border border-black px-2 text-center">
                    {{ book.quantity }}
                </td>
                {% if g.user and g.user.role == "admin" %}
                <td class="border border-black px-2">
                    <a href="{{ url_for('books.edit', book_id=book.id) }}" class="text-blue-500">Edit</a>
                    <button class="text-red-500" onclick="handleDelete(event, {{ book.id }})">
                        Delete
                    </button>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            {% else %}
            <tr>
                <td class="text-center border border-black px-2" colspan="7">
                    Data is empty
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</section>
{% if g.user and g.user.role == "admin" %}
<script>
    const handleDelete = function (e, id) {
        const list = document.getElementById("list");
        const tr = e.target.parentNode.parentNode;
        if (!confirm("Are you sure you want to delete this?")) {
            return;
        }

        const form = document.createElement("form");
        form.id = "delete";
        form.action = `/books/delete/${id}`;
        form.method = "post";
        document.body.appendChild(form);
        document.getElementById("delete").submit();
    };
</script>
{% endif %}
{% endblock %}