{% extends "base.html" %} {% block title %}Authors{% endblock %} {% block
content %}
<section>
  <h1 class="text-center font-bold text-2xl mb-5">Data Authors</h1>
  <a
    class="px-4 py-2 bg-blue-500 rounded text-white"
    href="{{ url_for('authors_create') }}"
    >Add new</a
  >
  <table class="mt-5 table-auto w-full border-collapse border border-black">
    <thead>
      <tr>
        <th class="border border-black">#</th>
        <th class="border border-black">Name</th>
        <th class="border border-black">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for author in authors %}
      <tr>
        <td class="text-center border border-black">{{ loop.index }}</td>
        <td class="border border-black px-2">{{ author.name }}</td>
        <td class="border border-black px-2">
          <a href="" class="text-blue-500">Edit</a>
          <button class="text-red-500" data-id="" onclick="">Delete</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
