<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} Book Library</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png" sizes="16x16" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    {% endblock %}
</head>

<body>
    <div class="w-full bg-blue-500 text-white">
        <header class="flex items-center justify-between max-w-4xl mx-auto py-5">
            <div class="logo">
                <a href="{{ url_for('main.index') }}">Book Library</a>
            </div>
            <nav class="nav">
                <ul>
                    <li class="inline-block mr-4">
                        <a href="{{ url_for('main.index') }}">Home</a>
                    </li>
                    <li class="inline-block mr-4">
                        <a href="{{ url_for('main.my_library') }}">My Library</a>
                    </li>
                    <li class="inline-block mr-4">
                        <a href="{{ url_for('borroweds.index') }}">Borrowed</a>
                    </li>
                    <li class="inline-block mr-4">
                        <a href="{{ url_for('authors.index') }}">Author</a>
                    </li>
                    <li class="inline-block mr-4">
                        <a href="{{ url_for('books.index') }}">Book</a>
                    </li>
                    <li class="inline-block mr-4">
                        <a href="{{ url_for('auth.register') }}">Register</a>
                    </li>
                    <li class="inline-block mr-4">
                        <a href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                    <li class="inline-block">
                        <form id="logout" action="{{ url_for('auth.logout') }}" method="post">
                            <a href="#" onclick="document.getElementById('logout').submit();">
                                Logout
                            </a>
                        </form>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
    <main class="w-full my-10">
        <div class="max-w-4xl px-4 lg:px-0 mx-auto">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer class="w-full text-center my-10">
        &copy; Copyright 2021 by you.
    </footer>
</body>

</html>