{% extends "base.html" %} {% block title %}Book Borrowed{% endblock %} {% block
content %}
<section>
  <h1 class="text-center font-bold text-2xl mb-5">Data Book Borrowed</h1>
  <a
    class="px-4 py-2 bg-blue-500 rounded text-white"
    href="{{ url_for('borroweds_create') }}"
    >Borrow new</a
  >
  <table class="mt-5 table-auto w-full border-collapse border border-black">
    <thead>
      <tr>
        <th class="border border-black">#</th>
        <th class="border border-black">Receipt</th>
        <th class="border border-black">Image</th>
        <th class="border border-black">Title</th>
        <th class="border border-black">Student</th>
        <th class="border border-black">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for borrowed in borroweds %}
      <tr>
        <td class="text-center border border-black">{{ loop.index }}</td>
        <td class="text-center border border-black">
          {{ borrowed.receipt_number }}
        </td>
        <td class="border border-black px-2 text-center">
          <img
            class="w-32"
            src="{{ borrowed.book.image_url }}"
            alt="{{ borrowed.book.title }}"
          />
        </td>
        <td class="border border-black px-2">{{ borrowed.book.title }}</td>
        <td class="border border-black px-2">{{ borrowed.student.name }}</td>
        <td class="border border-black px-2">
          <button class="text-blue-500" data-id="" onclick="">Return</button>
          <button class="text-red-500" data-id="" onclick="">Delete</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
