{% extends "base.html" %}
{% block title %} {% endblock %}
{% block content %}
<section class="max-w-4xl mx-auto">
    {% if books %}
    {% for book in books %}
    <article class="flex">
        <img class="w-32" src="{{ book.image_url }}" alt="{{ book.title }}" />
        <div class="ml-4">
            <h2 class="font-bold text-2xl">{{ book.title }}</h2>
            <p>Penulis:
                {% for author in book.authors %}
                {{ author.name }}{% if (not loop.last) %}, {% endif %}
                {% endfor%}
            </p>
            <p>Tanggal Terbit: {{ book.published }}</p>
            <p>Jumlah Tersedia: {{ book.quantity }}</p>
        </div>
    </article>
    {% endfor %}
    {% else %}
    <article class="flex">
        <h3 class="w-full text-center text-2xl">Data is empty</h3>
    </article>
    {% endif %}
</section>
{% endblock %}