* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #0066af;
  color: #ffffff;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
}

.nav ul li {
  display: inline-block;
  margin-left: 5px;
  padding: 10px 0;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px 0;
}

.footer {
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}

.books {
  margin: 50px 0;
}

.book {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.book-img {
  width: 100px;
}

.book-section {
  padding: 0 10px;
}

.book-title {
  margin: 0;
}

.book-author {
  margin: 10px 0;
}

.book-published {
  margin: 10px 0;
}

.book-quantity {
  margin: 10px 0;
}

.book-actions {
  /* margin-left: 10px; */
}

.btn {
  padding: 10px 20px;
  border: 0;
}

.btn-borrow {
  background-color: #ffd11a;
  color: #FFFFFF;
  font-size: 16px;
  border-radius: 4px;
}

.btn-borrow:hover {
  background-color: #ff9900;
  cursor: pointer;
}